<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Animated Portfolio Website HTML CSS JS | Codehal</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="image">
        <header class="header">
            <a href="#" class="logo">𝓑𝓸𝓸𝓴𝓶𝓪𝓻𝓽</a>
            <nav class="navbar">
                <a href="#" style="--i:1;">HOME</a>
                <a href="#" style="--i:2;">ABOUT</a>
                <a style="--i:3;"  href="#services" class="dropbtn">Services</a>
                <div class="dropdown-content">
                    <a href="Login.html">Sell Books</a>
                    <a href="Login.html">Buy Books</a>
                </div>
                <a href="/your-added-books">ACCOUNT</a>
                <% if (user) { %>
                    <a href="#">Welcome, <%= user.email %></a>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/signup">Login</a>
                <% } %>
                <a href="#">WISHLIST</a>
            </nav>

        </header>
        <section class="home">
            <div class="home-content">
                <h4>Reading is best for get idea</h4>
                <h1>Keep Reading</h1>
                <input type="submit" value="Explore" class="btn solid" />

            </div>
        </section>
    </div>
    <div class="simple">
        <h1 align="center" class="welcome">Welcome to online <span class="multiple-text"></span></h1>

    </div>
    <div class="conte">
        <div align="center" class="availabe">Some of the available books are :</div>
        <div class="cont" data-aos="fade-up">
            <div class="item">
                <div class="item-inner">
                    <div class="item-front">
                        <img id="open-popup" src="/images/image.png" alt="R.D. Sharma">
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="item-inner">
                    <div class="item-front">
                        <img id="open-popups" src="/images/image2.jpeg" alt="R.S. Aggarwal">
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="item-inner">
                    <div class="item-front">
                         <img src="/images/image3.jpeg" id="open-popupss"  alt="Sparsh">
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="item-inner">
                    <div class="item-front">
                        <img id="open-popupsss" src="/images/image4.jpeg" alt="R.D. Sharma">
                    </div>

                </div>



            </div>

        </div>
        <div class="contf" data-aos="fade-up">
            <div class="item">
                <div class="item-inner">
                    <div class="item-front">
                        <img id="open-popupssss" src="/images/th.jpg" alt="R.D. Sharma">
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="item-inner">
                    <div class="item-front">
                         <img id="open-popupsssss"  src="/images/91DKzsw46IL-600x776.webp"R.S. Aggarwal">
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="item-inner">
                    <div class="item-front">
                         <img id="open-popupssssss"  src="/images/91Kd1LQ-MjL.webp" alt="Sparsh">
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="item-inner">
                    <div class="item-front">
                        <img id="open-popupsssssss" src="/images/91oCkbtq1CL.webp" alt="R.D. Sharma">
                    </div>

                </div>
            </div>
        </div>
        <footer>
            <div class="row">
                <div class="col">
                    <a href="#" class="logos">𝓑𝓸𝓸𝓴𝓶𝓪𝓻𝓽</a>
                    <p class="shor">Welcome to Bookmart, where book lovers unite! Buy and sell your favorite
                        titles effortlessly, from timeless classics to the latest bestsellers. Join our vibrant
                        community, discover hidden gems, and turn your passion for reading into a rewarding experience.
                        Sign up today and dive into a world of books!</p>
                </div>

                <div class="col">
                    <h3>Office <div class="underline"><span></span></div>
                    </h3>
                    <p>KIET</p>
                    <p>Muradnagar</p>
                    <P>developed by NIPUN</P>
                    <p class="email-id"> hellogi@gmail.com</p>
                    <h4>0583739539</h4>
                </div>
                <div class="col">
                    <h3>Links <div class="underline"><span></span></div>
                    </h3>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Contacts</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Newletter <div class="underline"><span></span></div>
                    </h3>
                    <form action="">
                        <i class="far fa-envelope"></i>
                        <input type="email" placeholder="Enter Your Email-id" required>
                        <button type="submit"><i class="fas fa-arrow-right"></i></button>
                    </form>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <p class="copy">Books selling@ 2024 - All rights reserved</p>
        </footer>
        <div class="popup" id="popup" >
            <div class="popup-content">
                <span class="close" id="close-popup">&times;</span>
                <h2>Please sign up or sign in to get information of books </h2>
                <a href="/signup"> <input type="submit" value="Login" class="btns solid " /></a>
            </div>
        </div> 
        <script>
            // This variable is set based on whether the user is logged in or not
            const isLoggedIn = <%= user ? true : false %>;
        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script src="/javascripts/script.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>

            AOS.init({
                duration: 1000,
                offset: 200,
            });
        </script>
</body>

</html>